/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/

/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@font-face {
font-family: "Righteous";
src: url("../fonts/BalooChettan-Regular.ttf");
src: url("../fonts/BalooChettan-Regular.ttf");
}
/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(css/font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(swiper.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
     box-sizing: border-box !important;
     transition: ease all 0.5s;
}

html {
     scroll-behavior: smooth;
}

body {
     color: #666666;
     font-size: 14px;
     line-height: 1.80857;
     font-weight: normal;
     overflow-x: hidden;
     font-family: Poppins;
}

a {
     color: #1f1f1f;
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     font-weight: normal;
     line-height: normal;
     color: #111111;
     margin: 0
}

h1 {
     font-size: 24px
}

h2 {
     font-size: 22px
}

h3 {
     font-size: 18px
}

h4 {
     font-size: 16px
}

h5 {
     font-size: 14px
}

h6 {
     font-size: 13px
}

*,
*::after,
*::before {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
     color: #212121;
     text-decoration: none!important;
     opacity: 1
}

button:focus {
     outline: none;
}

ul,
li,
ol {
     margin: 0px;
     padding: 0px;
     list-style: none;
}

p {
     margin: 20px;
     font-weight: 300;
     font-size: 15px;
     line-height: 24px;
}

a {
     color: #222222;
     text-decoration: none;
     outline: none !important;
}

a,
.btn {
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

img {
     max-width: 100%;
     height: auto;
}

 :focus {
     outline: 0;
}

.paddind_bottom_0 {
     padding-bottom: 0 !important;
}

.btn-custom {
     margin-top: 20px;
     background-color: transparent !important;
     border: 2px solid #ddd;
     padding: 12px 40px;
     font-size: 16px;
}

.lead {
     font-size: 18px;
     line-height: 30px;
     color: #767676;
     margin: 0;
     padding: 0;
}

.form-control:focus {
     border-color: #ffffff !important;
     box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
     border: none !important;
}

.badge {
     font-weight: 500;
}

blockquote {
     margin: 20px 0 20px;
     padding: 30px;
}

button {
     border: 0;
     margin: 0;
     padding: 0;
     cursor: pointer;
}

.full {
     float: left;
     width: 100%;
}

.layout_padding {
     padding-top: 90px;
     padding-bottom: 0px;
}

.padding_0{
     padding: 0px;
}
.header_section {
    width: 100%;
    float: left;
}
.logo{
    width: 20%;
    float: left;
}
.search_icon {
    float: left;
    padding-left: 10px;
    font-size: 18px;
    color: #bcbcbc;
    padding-right: 10px;
}
.search_icon a{
    color: #bcbcbc;
}
.search_icon a:hover{
    color: #000;
}
.padding_left0{
    padding-left: 10px;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 5px;
    padding-left: 5px;
    font-size: 18px;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #000;
}
.bg-light {
    background-color: #ffffff!important;
    border-bottom: 10px solid #581c7e;
    padding: 20px 15px;
}
.banner_section {
    width: 100%;
    float: left;
    background-image: url(../images/banner-bg.png);
    height: auto;
    background-size: 100%;
    padding-bottom: 55px;
}
.banner_taital {
    width: 100%;
    float: left;
    font-size: 65px;
    color: #171414;
    font-weight: bold;
}
.image_1{
    width: 100%;
    float: left;
}
.contact_bt {
    width: 170px;
    float: left;
    margin-top: 30px;
}
.contact_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    background-color: #581c7e;
    padding: 10px 0px;
    text-align: center;
}
.contact_bt a:hover {
    color: #ffffff;
    background-color: #000;
}
#my_slider a.carousel-control-prev {
    position: absolute;
    left: 535px;
    top: 88%;
    background-color: #581c7e;
}
#my_slider .carousel-control-prev, #my_slider .carousel-control-next {
    width: 65px;
    height: 65px;
    background: #171414;
    opacity: 1;
    font-size: 30px;
    color: #000;
    border-radius: 100%;
}

#my_slider .carousel-control-prev:hover, #my_slider .carousel-control-next:hover, #my_slider .carousel-control-prev:focus, #my_slider .carousel-control-next:focus {
    background: #581c7e;
    color: #fff;
}
#my_slider a.carousel-control-next {
    position: absolute;
    left: 610px;
    top: 88%;
}
.templet_bg{
    width: 100%;
    float: left;
    background-image: url(../images/templet-bg.png);
    height: auto;
    background-size: 100%;
}
.email_section{
    width: 100%;
    float: left;
}
.image_2{
    width: 100%;
    float: left;
}
.mark_text {
    width: 100%;
    float: left;
    font-size: 36px;
    color: #171414;
    font-weight: bold;
    padding-top: 30px;
}
.lorem_text{
    width: 100%;
    float: left;
    font-size: 16px;
    color: #646262;
    margin-left: 0px;
}
.solution_section{
    width: 100%;
    float: left;
}
.solution_text {
    width: 100%;
    float: left;
    font-size: 36px;
    color: #191919;
    font-weight: bold;
    text-align: center;
}
.image_3{
    width: 100%;
    float: left;
    text-align: center;
    padding-top: 90px;
}
.ipsum_text{
    width: 100%;
    float: left;
    font-size: 16px;
    color: #646262;
    margin-left: 0px;
    text-align: center;
    padding-top: 30px;
}

.make_bt {
    width: 170px;
    margin: 0 auto;
}
.make_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    background-color: #581c7e;
    padding: 10px 0px;
    text-align: center;
    margin-top: 30px;

}
.make_bt a:hover {
    color: #ffffff;
    background-color: #000;
}
.design_section {
    width: 100%;
    float: left;
    padding-top: 40px;
}
.image_4{
    width: 100%;
    float: left;
    text-align: center;
    padding-top: 40px;
}
.contact_section {
    width: 100%;
    float: left;
}
.template_section {
    width: 100%;
    float: left;
    background-color: #fff;
    padding-bottom: 90px;
}
.mail_section{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.cool_text {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #000;
    text-align: center;
    padding-top: 20px;
    text-transform: uppercase;
    font-weight: 500;
}
.image_5 {
    padding-top: 40px;
    width: 100%;
    float: left;
}
.lorem_dolor_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #000;
    text-align: center;
    margin-top: 10px;
    margin-left: 0px;
}
.template_section .carousel-indicators li {
    background-color: #000;
    width: 40px;
    height: 10px;
    bottom: -50px;
}
.template_section .carousel-indicators .active {
    background-color: #581c7e;
}
.mail_text {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #999898;
    background-color: #ffffff!important;
    border: 1px solid #bcbcbc;
    padding: 10px;
    margin-top: 20px;
}
.massage_text {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #999898;
    background-color: #ffffff!important;
    border: 1px solid #bcbcbc;
    height: 100px;
    padding: 10px;
    margin-top: 20px;
}

.send_bt {
    width: 170px;
    margin: 0 auto;
    text-align: center;
}
.send_bt a {
    width: 100%;
    float: left;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    background-color: #581c7e;
    padding: 10px 0px;
    text-transform: uppercase;
    margin-top: 40px;
}
.send_bt a:hover {
    color: #ffffff;
    background-color: #000;
}
.footer_section {
    width: 100%;
    float: left;
    padding-bottom: 90px;
}
.footer_logo{
    width: 100%;
    float: left;
}
.contact_text{
    width: 100%;
    float: left;
    font-size: 24px;
    color: #000;
    padding-top: 50px;
}

.map_icon {
    width: 100%;
    float: left;
    margin-top: 30px;
}

.location_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #110f0f;
    margin: 10px 0px 0px 0px;
}
.call_section{
    width: 100%;
    float: left;
}
.call_section_left{
    width: 33.3%;
    float: left;
}
.call_section_middle{
    width: 33.3%;
    float: left;
}
.call_section_right{
    width: 33.3%;
    float: left;
}
.social_icon{
    width: 100%;
    float: left;
}
.social_icon ul{
    margin: 0px;
    padding: 0px;
    display: flex;
}
.social_icon li{
    float: left;
    padding-right: 15px;
    padding-top: 30px;
}
.menus_main{
    width: 100%;
    float: left;
}
.menus_left {
    width: 33.3%;
    float: left;
    border-left: 2px solid #581c7e;
}
.menus_middle{
    width: 33.3%;
    float: left;
}
.menus_right{
    width: 33.3%;
    float: left;
}
.menus_text {
    width: 100%;
    float: left;
    font-size: 24px;
    color: #571c7d;
    padding-left: 30px;
}
.menu_text{
    width: 100%;
    float: left;
}
.menu_text ul{
    margin: 0px;
    padding: 0px;
}
.menu_text li{
    padding-top: 5px;
    font-size: 16px;
    color: #0c0c0c;
    padding-left: 30px;
}
.menu_text li a{
    color: #0c0c0c;
}
.menu_text li a:hover{
    color: #571c7d;
}
.Recent_text{
    width: 100%;
    float: left;
    font-size: 24px;
    color: #121212;
}
.staff_text {
    width: 90%;
    float: left;
    font-size: 16px;
    color: #070606;
    margin: 0px 0px 0px 0px;
    line-height: 35px;
}

.Enter_text {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #828080;
    background-color: #ffffff;
    padding: 8px 10px;
    margin-top: 10px;
}
.subscribe_bt {
    width: 120px;
    float: left;
    margin-top: 20px;
}
.subscribe_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    background-color: #0e0906;
    text-align: center;
    padding: 10px 0px;
    text-transform: uppercase;
}

.copyright_section {
    width: 100%;
    float: left;
    background-color: #ececec;
    height: auto;
    padding: 10px 0px;
}
.copyright_text {
    width: 100%;
    float: left;
    font-size: 16px;
    margin-left: 0px;
    color: #171717;  
    font-weight: 500;
}
.teams_text{
    text-align: right;
    float: right;
}
.copyright_text a{
    color: #171717;
}
.copyright_text a:hover{
    color: #581c7e;
}
.margin_top0{
    margin-top: 90px;
}
